<html xmlns:th="http://www.thymeleaf.org">
<!-- Left side column. contains the logo and sidebar -->
<aside  th:fragment="left" class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu">
            <li class="header">系统管理</li>
            <li class="nav-click active"><a th:href="@{index}"><i class="fa fa-circle-o text-aqua"></i><span>主页</span></a></li>
        <li class="nav-click active"><a th:href="@{edit}"><i class="fa fa-circle-o text-yellow"></i><span>站点管理</span></a></li>
    <li class="nav-click"><a th:href="@{siteInfo}"><i class="fa fa-circle-o text-green"></i><span>新闻管理</span></a></li>
<li class="nav-click"><a th:href="@{video}"><i class="fa fa-circle-o text-red"></i><span>图片管理</span></a></li>
<li class="nav-click"><a th:href="@{siteInfo}"><i class="fa fa-circle-o text-gray"></i><span>视频管理</span></a></li>
</ul>
</section>
<!-- /.sidebar -->
</aside>
</html>