<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head th:include="/common/common_head :: commonHeader('login')"></head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
    <!-- header -->
    <header th:replace="/common/common_header :: header"></header>
    <!-- left -->
    <div th:replace="/common/common_left :: left"></div>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>sport</h1>
            <!--
            <h1>运行报表<small>任务调度中心</small></h1>
            <ol class="breadcrumb">
                <li><a><i class="fa fa-dashboard"></i>调度中心</a></li>
                <li class="active">使用教程</li>
            </ol>
            -->
        </section>

        <!-- Main content -->
        <section class="content">

            <!-- 任务信息 -->

            <div id="editor"></div>



        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    <footer th:replace="/common/common_footer :: footer"/>
    <!-- footer -->
    <a th:href="${#httpServletRequest.getScheme() + '://' + #httpServletRequest.getServerName() + ':' + #request.getServerPort()  + #request.getContextPath() + '/'} "
       id="contextPath"></a>
</div>
<div th:replace="/common/common_js :: js"></div>
<!-- daterangepicker -->
<script th:src="@{/adminlte/bower_components/moment/moment.min.js}"></script>
<script th:src="@{/adminlte/bower_components/bootstrap-daterangepicker/daterangepicker.js}"></script>
<script th:src="@{/plugins/echarts/echarts.common.min.js}"></script>
<script th:src="@{/js/index.js}"></script>
<!--富文本编辑器wangEditor-->
<script src="https://cdn.staticfile.org/wangEditor/10.0.13/wangEditor.min.js"></script>
<script type="text/javascript">
    var E = window.wangEditor
    var editor = new E('#editor')
    // 或者 var editor = new E( document.getElementById('editor') )

    // 配置服务器端地址
    editor.customConfig.uploadImgServer = 'http://localhost:8888/xxxx/upload/editor'
    //配置指定文件名
    editor.customConfig.uploadFileName = 'file'
    //如果图片不大，可以用base64存储
    //editor.customConfig.uploadImgShowBase64 = true
    editor.create()
    editor.txt.html('<p>测试输入</p>')
    // 读取 html
</script>
</body>
</html>
