<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head th:include="/common/common_head :: commonHeader('login')"></head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
    <!-- header -->
    <header th:replace="/common/common_header :: header"></header>
    <!-- left -->
    <div th:replace="/common/common_left :: left"></div>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>站点简介</h1>
            <!--
            <h1>运行报表<small>任务调度中心</small></h1>
            <ol class="breadcrumb">
                <li><a><i class="fa fa-dashboard"></i>调度中心</a></li>
                <li class="active">使用教程</li>
            </ol>
            -->
        </section>

        <!-- Main content -->
        <section class="content">

            <!-- 任务信息 -->


            <script src='//player.polyv.net/script/polyvplayer.min.js'></script>
            <div id='plv_dfbe3d827e0fe8795afb0cebcb2ce16e_d'></div>
            <script>
                var player = polyvObject('#plv_dfbe3d827e0fe8795afb0cebcb2ce16e_d').videoPlayer({
                    'width':'300',
                    'height':'170',
                    'vid' : 'dfbe3d827e0fe8795afb0cebcb2ce16e_d' ,
                    'forceH5':true
                });
            </script>


        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    <footer th:replace="/common/common_footer :: footer"/>
    <!-- footer -->
    <a th:href="${#httpServletRequest.getScheme() + '://' + #httpServletRequest.getServerName() + ':' + #request.getServerPort()  + #request.getContextPath() + '/'} "
       id="contextPath"></a>
</div>
<div th:replace="/common/common_js :: js"></div>
<!-- daterangepicker -->
<script th:src="@{/adminlte/bower_components/moment/moment.min.js}"></script>
<script th:src="@{/adminlte/bower_components/bootstrap-daterangepicker/daterangepicker.js}"></script>
<script th:src="@{/plugins/echarts/echarts.common.min.js}"></script>
<script th:src="@{/js/index.js}"></script>
<script th:inline="javascript">
    var context =[[${#httpServletRequest.getScheme() +'://'+#httpServletRequest.getServerName() + ':' + #request.getServerPort() + #request.getContextPath()}]]
        +"/websocket/20";
    context = context.replace("http","ws");
    var socket;
    if(typeof(WebSocket) == "undefined") {
        console.log("您的浏览器不支持WebSocket");
    }else{
        console.log("您的浏览器支持WebSocket");
        //实现化WebSocket对象，指定要连接的服务器地址与端口  建立连接
        //等同于socket = new WebSocket("ws://localhost:8083/checkcentersys/websocket/20");
        socket = new WebSocket(context);
        //打开事件
        socket.onopen = function() {
            console.log("Socket 已打开");
            //socket.send("这是来自客户端的消息" + location.href + new Date());
        };
        //获得消息事件
        socket.onmessage = function(msg) {
            console.log(msg.data);
            //发现消息进入    开始处理前端触发逻辑
        };
        //关闭事件
        socket.onclose = function() {
            console.log("Socket已关闭");
        };
        //发生了错误事件
        socket.onerror = function() {
            alert("Socket发生了错误");
            //此时可以尝试刷新页面
        }
        //离开页面时，关闭socket
        //jquery1.8中已经被废弃，3.0中已经移除
        // $(window).unload(function(){
        //     socket.close();
        //});
    }
</script>
</body>
</html>


